body {
  background-color: orange;
}
#item1 {
  background-color: #333399;
  border-radius: 10px;
  width: 300px;
}
#change {
  border-radius: 5px;
  background-color: papayawhip;
  font-size: 15px;
  color: black;
  border: none;
}
.App {
  font-family: Cambria;
  text-align: center;
  color: papayawhip;
}
